.news_actions.container-fluid
	.row
		.container
			h2.h2
				|Новости и акции
			.slider_row
				.slider
					include news_slide_item
					include news_slide_item
					include news_slide_item
					include news_slide_item
					include news_slide_item
					include news_slide_item
				.slider_dots
					.dots