.sertificats.container-fluid
	.row
		.container
			include sertificats
	.row
		.container.offers
			.row.mt-30.mb-40
				.col-sm-6
					p
						|Общество с ограниченной ответственностью Стоматологическая клиника «КИО СТОМ»
						br
						|ИНН 6311118366, КПП 631101001,ОГРН 1096311007946
						br
						|443082, г. Самара, ул. Тухачевского д.88, к 90
						br
						|Филиал ОАО Банк ВТБ в г. Нижний Новгород<br>
				.col-sm-6
					p
						|Бик 042202837
						br
						|р/счет 40702810210240003778
						br
						|К/сч 30101810200000000837
						br
						|Директор: Косачев Игорь Олегович