.service.container-fluid
	.row
		.container
			h2.h2
				|Наши услуги
			.description
				p
					|Мы работаем на современном оборудование и постоянно отслеживаем новинки в мире стоматологической техники. Используем материалы мирового качества — Швейцария, США, Корея и другие проверенные временем поставщики.
			.container-items.text-center
				.rotated
					.item
						.top.text-uppercase
							img(src="bitrix/templates/front/images/protezirovanie.png" alt="ПРОТЕЗИРОВАНИЕ")
						include rotate_bottom_menu
				.rotated
					.item
						.top.text-uppercase
							img(src="bitrix/templates/front/images/implantacia.png" alt="ИМПЛАНТАЦИЯ")
						include rotate_bottom_menu
				.rotated
					.item
						.top.text-uppercase
							img(src="bitrix/templates/front/images/hirurgia.png" alt="ХИРУРГИЧЕСКАЯ СТАМОТОЛОГИЯ")
						include rotate_bottom_menu
				.rotated
					.item
						.top.text-uppercase
							img(src="bitrix/templates/front/images/lechenie_zubov.png" alt="ЛЕЧЕНИЕ ЗУБОВ")
						include rotate_bottom_menu
				.rotated
					.item
						.top.text-uppercase
							img(src="bitrix/templates/front/images/otbelivanie.png" alt="ОТБЕЛИВАНИЕ")
						include rotate_bottom_menu