.service.container-fluid
	.row
		.container
			h2.h2
				|Наши услуги
			.description
				p
					|Мы работаем на современном оборудование и постоянно отслеживаем новинки в мире стоматологической техники. Используем материалы мирового качества — Швейцария, США, Корея и другие проверенные временем поставщики.
			.container-items.text-center
				.rotated
					.item
						.top.text-uppercase
							img(src="bitrix/templates/frontpage/images/protezirovanie.png" alt="ПРОТЕЗИРОВАНИЕ")
						.bottom
							ul
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
				.rotated
					.item
						.top.text-uppercase
							img(src="bitrix/templates/frontpage/images/implantacia.png" alt="ИМПЛАНТАЦИЯ")
						.bottom
							ul
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
				.rotated
					.item
						.top.text-uppercase
							img(src="bitrix/templates/frontpage/images/hirurgia.png" alt="ХИРУРГИЧЕСКАЯ СТАМОТОЛОГИЯ")
						.bottom
							ul
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
				.rotated
					.item
						.top.text-uppercase
							img(src="bitrix/templates/frontpage/images/lechenie_zubov.png" alt="ЛЕЧЕНИЕ ЗУБОВ")
						.bottom
							ul
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
				.rotated
					.item
						.top.text-uppercase
							img(src="bitrix/templates/frontpage/images/otbelivanie.png" alt="ОТБЕЛИВАНИЕ")
						.bottom
							ul
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item
								li
									a(href="javascript:;")
										|Menu item