.about.container-fluid
	.row
		.container
			.row
				.container-fluid.title
					h2.h2
						|О клинике «КИОСТОМ»
					blockquote.mb-0
						|Стоматология «КИОСТОМ»! Живите с улыбкой!
					.line
				.col-md-8
					h3.h3.text-uppercase
						|Чем мы отличаемся от других стоматологических клиник?
					ul.colored
						li
							|Современное оборудование: мы постоянно отслеживаем новинки в мире стоматологической техники и берём на вооружение последние достижения.
						li
							|Материалы мирового качества — Швейцария, США, Корея и другие проверенные временем поставщики.
						li
							|Опыт работы более 7 лет. За это время клиника «КИОСТОМ» успешно справилась с тысячами стоматологических проблем клиентов.
					p
						|Особо хочется отметить главного врача — 
						a(href="javascript:;")
							|Косачёва Игоря Олеговича
						|. На его счету более 5 000 успешно проведенных операций по имплантации.
					h3.h3.text-uppercase.about-title-line
						|Наши преимущества
					.row.tizers
						.col-md-4.col-sm-6.tizer
							p
								strong
									|>7 лет
							p
								span
									|Клинике «КИОСТОМ»
						.col-md-4.col-sm-6.tizer
							p
								strong
									|10 мин
							p
								span
									|среднее время установки импланта
						.col-md-4.col-sm-6.col-md-offset-0.col-sm-offset-3.tizer
							p
								strong
									|>5 000
							p
								span
									|Установленных имплантов
					h3.h3
						|Наши услуги:
					ul.colored
						li
							|консультация 
							a(href="http://kiostom.ru/doctors/doctor-43/")
								|стоматолога
							|, 
							a(href="http://kiostom.ru/doctors/doctor-26/")
								|хирурга
							|, гигиениста, ортодонта и 
							a(href="http://kiostom.ru/doctors/doctor-46/")
								|ортопеда
							|;
						li
							a(href="http://kiostom.ru/services/lecheniye-zubov/lechenie-kariesa/")
								|лечение кариеса
							|  и 
							a(href="http://kiostom.ru/services/lecheniye-zubov/parodontologiya/")
								|дёсен
							|;
						li
							|установка 
							a(href="http://kiostom.ru/services/implantation/sistemy-implantacii/")
								|имплантатов
							|  и 
							a(href="http://kiostom.ru/services/protezirovanie/koronki-i-mostovidnye-protezy/")
								|коронок
							|;
						li
							a(href="http://kiostom.ru/services/surgery/udalenie-zubov/")
								|удаление зубов
							|;
						li
							a(href="http://kiostom.ru/services/surgery/konservatsiya-lunki/")
								|биоконсервация лунки
							|;
						li
							a(href="http://kiostom.ru/services/protezirovanie/viniry/")
								|виниры
							|;
						li
							|комплексная реабилитация;
						li
							|эстетическая стоматология;
					
						li
							a(href="http://kiostom.ru/services/whitening/")
								|отбеливание
							|  и другие.
					p.mt-20
						|Если вы не нашли интересующую вас услугу, позвоните и спросите нас о ней по телефону: 
						a.phone(href="tel:+78462477404")
							span.ya-phone
								|+7 (846) 247-74-04
						|. Мы расскажем все подробности, озвучим стоимость и выберем удобное время для приёма.
					p.fs-18
						em
							|Приходите за красивой улыбкой в «КИОСТОМ».
				.col-md-4
					h3.h3.text-uppercase
						|Отзывы наших клиентов
					