.bg-graymenu
	.container
		.mobile-menu
			.menu-icon
				span.line
				span.line
				span.line
			span Меню
		menu
			li
				a.with-submenu(href="javascript:;")
					span О клинике 
					i.icokiostom-down.hidden-xs
				ul.submenu
					li
						a(href="javascript:;")
							span Команда
					li
						a(href="javascript:;")
							span Расписание
					li
						a(href="javascript:;")
							span Наши работы
					li
						a(href="javascript:;")
							span Новости
					li
						a(href="javascript:;")
							span Статьи
					li
						a(href="javascript:;")
							span Акции
					li
						a(href="javascript:;")
							span Органы исполнительной власти
					li
						a(href="javascript:;")
							span Отзывы
					li
						a(href="javascript:;")
							span Privacy Policy
			li
				a(href="javascript:;")
					span Контакты