.slider-item
	.slider-item-wrapper
		a(href="javascript:;")
			img(src="bitrix/templates/front/images/item_news.jpg" alt="title news actions")
		.content
			h6.title
				a(href="javascript:;")
					|Самый активный участник
			.description
				p
					|Количество подписчиков в нашей группе https://vk.com/kiostom  растет. Нас читают и посещают все больше и больше...