.bottom
	ul
		li
			a(href="javascript:;")
				|Menu item
		li
			a(href="javascript:;")
				|Menu item
		li
			a(href="javascript:;")
				|Menu item
		li
			a(href="javascript:;")
				|Menu item
		li
			a(href="javascript:;")
				|Menu item
		li
			a(href="javascript:;")
				|Menu item
		li
			a(href="javascript:;")
				|Menu item
		li
			a(href="javascript:;")
				|Menu item
		li
			a(href="javascript:;")
				|Menu item