.slider-block
	.slider-wrapper
		.slide.item(style="background-image: url('bitrix/templates/front/images/bn_item_01.jpg');")
			.slide-container.center-block
				.slide-title.col-md-7.hidden-sm.hidden-xs
					p
						span
							|А ваша улыбка готова к лету?
						span
							|Запишись на прием сегодня
		.slide.item(style="background-image: url('bitrix/templates/front/images/bn_item_01.jpg');")
			.slide-container.center-block
				.slide-title.col-md-7.hidden-sm.hidden-xs
					p
						span
							|Не успел записаться вчера?
						span
							|Запишись на прием сегодня
		.container
			.dots
	.container
		.row
			.col-md-6.col-md-offset-6
				include form_block