doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	include includes/head
	body.main_page
		.main_wrapper
			include includes/header_menu
			include includes/slider_block
			include includes/main_page_service
			include includes/main_page_news_actions
			include includes/main_page_about
			include includes/main_page_sertificats
			include includes/main_page_footer
		include includes/body_scripts